<% flights.each do |flight| %>
  <p>departing from: <%= flight.departure_airport.code %></p>
  <p>heading to: <%= flight.arrival_airport.code %></p>
  <p>takeoff date-time: <%= flight.start_datetime %></p>
  <p>flight duration: <%= flight.flight_duration %> hours</p>
<% end %>